# Notebook for stitching different scraped files together

In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv('assets/20180622-155239_test.csv', header = None, names = ['artist', 'title','album','text'])
df2 = pd.read_csv('assets/20180624-131901_test.csv', header = None, names = ['artist', 'title','album','text'])
df3 = pd.read_csv('assets/20180625-074500_test.csv', header = None, names = ['artist', 'title','album','text'])
df4 = pd.read_csv('assets/20180625-135941_test.csv', header = None, names = ['artist', 'title','album','text'])

In [21]:
df1.tail(5)

,artist,title,album,text
19029,Düşbaz,Güzel Günler,Güzel Günler,balık attım olta tuttum yaşadım gençliğimi mas...
19030,Düşbaz,Küçüğüm,Güzel Günler,gel gel küçüğüm yanımda olman lazım yine benim...
19031,Düşbaz,Özledim Seni,Güzel Günler,yaz güneşi kadar sıcak bahar çiçeği gibi güzel...
19032,Düşbaz,Pencere,Güzel Günler,yürür ayaklarım sevgiyi arar sokakta çağırır b...
19033,Düşbaz,Rüzgar,Güzel Günler,Korkum yok zamandan Geriye kalan hayatımdan Ya...

In [24]:
df2.head(6)

,artist,title,album,text
0,Düşbaz,Elveda Düşler,Güzel Günler,hayat oyununda yalnız yapayalnız kayıp gülüş...
1,Düşbaz,Güzel Günler,Güzel Günler,balık attım olta tuttum yaşadım gençliğimi mas...
2,Düşbaz,Küçüğüm,Güzel Günler,gel gel küçüğüm yanımda olman lazım yine benim...
3,Düşbaz,Özledim Seni,Güzel Günler,yaz güneşi kadar sıcak bahar çiçeği gibi güze...
4,Düşbaz,Pencere,Güzel Günler,yürür ayaklarım sevgiyi arar sokakta çağırır b...
5,Düşbaz,Rüzgar,Güzel Günler,Korkum yok zamandan Geriye kalan hayatımdan Ya...

In [25]:
df2.drop([0,1,2,3,4,5], inplace=True)

In [16]:
df2.tail()

,artist,title,album,text
19824,Nilgül,Benim Olsan,Nar-ı Aşk,vazgeçmiştim ben sevmekten vazgeçmiştim seni ...
19825,Nilgül,Bırakma,Nar-ı Aşk,Seslerini duyuyor musun Geri getirmek istedi...
19826,Nilgül,Bu Gece,Ömürsüz Sevdalar,Yetti artık yetti hasret çektiğim çileler Gün...
19827,Nilgül,Deli Kız,Nar-ı Aşk,Sevda bir ömür boyu Yaşanır mı yalanlarla Dok...
19828,Nilgül,Deva Bulmasın,Nar-ı Aşk,Yolum diken yolum zulüm Yine de insaf etme gül...

In [17]:
df3.head()

,artist,title,album,text
0,Nilgül,Deva Bulmasın,Nar-ı Aşk,Yolum diken yolum zulüm Yine de insaf etme gül...
1,Nilgül,Diken Döşekler,Pervane,Uzaktan Sevmeler aşk değil zulümmüş İmkansız...
2,Nilgül,Dualarım Seninle,Okyanus,İyi Günde Kötü Günde Beraberdik Hep El Ele Bu ...
3,Nilgül,Dualarım Seninle Şa,Nar-ı Aşk,iyi günde kötü günde beraberdik hep el ele b...
4,Nilgül,Duy Beni,Arabesk Günler,duybeni öptüğüm yerden sev beni ta derinden ...

In [26]:
df3.drop(0, inplace = True)

In [18]:
df3.tail()

,artist,title,album,text
7206,Serdar Ortaç,Özledim Aşkını,Aşk İçin,Bir çıkmaz sokaktayım Yalnız kaldım bir başım...
7207,Serdar Ortaç,Padişah,Sahibinin Sesi Remix,Üstüme gelme inanamam Beni ben gibi sevmedi bi...
7208,Serdar Ortaç,Para Para ( Rap Das Armas ),Gold 2011,Bugüne kadar aradığım huyu neşesi Sürünüyorum...
7209,Serdar Ortaç,Parodi,Kara Kedi,Anılar seçer insanın yaralı sonunu Aradan geçe...
7210,Serdar Ortaç,Pişmanım,Beni Unut & Çakra,"Dur, durduğun yerde gitme, Ben daha da pişmanı..."

In [19]:
df4.head()

,artist,title,album,text
0,Serdar Ortaç,Para Para ( Rap Das Armas ),Gold 2011,Bugüne kadar aradığım huyu neşesi Sürünüyorum ...
1,Serdar Ortaç,Parodi,Kara Kedi,Anılar seçer insanın yaralı sonunu Aradan geç...
2,Serdar Ortaç,Pişmanım,Beni Unut & Çakra,"Dur, durduğun yerde gitme, Ben daha da pişmanı..."
3,Serdar Ortaç,Porque?,Loco Para Amar,"Esta vez se rompio tu corazon Esta vez, como u..."
4,Serdar Ortaç,Poşet,Kara Kedi,Ben ne sana taparım ne seni ararım ne trip ata...

In [27]:
df4.drop([0,1,2], inplace = True)

In [28]:
df = pd.concat([df1, df2, df3, df4])

In [33]:
df.duplicated().sum()

81

In [34]:
df.drop_duplicates(inplace = True)

In [36]:
df.reset_index(inplace = True)

In [37]:
df.index

RangeIndex(start=0, stop=55685, step=1)

In [39]:
df.drop('index', axis = 1, inplace = True)

In [41]:
import time

timestr = time.strftime("%Y%m%d-%H%M%S")
df.to_csv("assets/lyrics/all_lyrics_scraped_"+timestr+".csv")